button.btn-tag, a.btn-tag, button.btn-sm {
    line-height: .5;
    border-radius: 10px;
}

a.btn, button.btn {
    border-radius: 10px;
}

option {
    font-weight: bolder;
}

div.swal2-container.swal2-center.swal2-backdrop-show > div {
    outline: 4px solid black;
    border: 2px solid #ff993b;
}

.nav-item > form > button {
    font-size: 0.75rem;
    font-weight: 800;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
    margin-top: 4px;
    color: white;
}